.root {
  width: 100%;
  max-width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  margin-top: 50px;
  border-radius: 8px;
  background-color: #eeeeee;
}

label {
  font-weight: bold;
}

.logLabel {
  padding-bottom: 10px;
}

.formLabel {
  font-size: 20px;
  font-weight: bold;
}

.alert {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.customButton {
  margin-top: 30px;
  color: #262626;
  background: #FFFFFF;
  border-color: #262626;
  font-size: 18px !important; 
  font-weight: bold !important;
  padding: 10px 20px !important;
  width: 100%;
}

.customButton.primary {
  color: #262626 !important;
  background: #FFFFFF !important;
  border-color: #262626 !important;
}

.customButton.secondary {
  background: #54585c !important;
  color: white !important;
  border-color: #54585c !important;
}

.customButton:hover {
  color: #FFFFFF !important;
  background: #262626 !important;
  border-color: #262626 !important;
}
.successAlert {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
