.pageContainer {
  /* background-color: #726868; 
  min-height: max-content;
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-image: none; 
  min-height: 92vh; */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  background-color: #f8f9fa;
  min-height: 92vh;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.recipeButtonsContainer {
  gap: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeButton {
  font-size: 18px !important; 
  font-weight: bold !important;
  padding: 10px 20px !important;
  color: #262626 !important;
  background: #FFFFFF !important;
  border-color: #262626 !important;
}

.recipeButton:hover {
  color: #FFFFFF !important;
  background: #262626 !important;
  border-color: #ffffff !important;
}
