.root {
  width: 100%;
  max-width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  margin-top: 50px;
  border-radius: 8px;
  background-color: #eeeeee;
}

a,
a:visited {
  color: var(--color-white);
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-size: 18px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.successAlert {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80% !important; 
  max-width: 900px;
  text-align: center;
  padding: 30px; 
  font-weight: bold !important;
}

.successAlert img {
  width: 70px; 
  height: 70px; 
  animation: bounce 1s infinite;
  margin: 10px;
}

.successAlert.alert-heading {
  font-size: 2rem;
}

.successAlert p {
  font-size: 1.5rem;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.hide {
  display: none;
}

.valid {
  color: var(--color-valid);
}

.invalid {
  color: var(--color-invalid);
}

.valid,
.invalid {
  margin-left: 0.25rem;
  width: 20px;
  height: 20px;
}

.customButton {
  margin-top: 30px;
  color: #262626;
  background: #FFFFFF;
  border-color: #262626;
  font-size: 18px !important; 
  font-weight: bold !important;
  padding: 10px 20px !important;
  width: 100%;
}

.customButton.primary {
  color: #262626 !important;
  background: #FFFFFF !important;
  border-color: #262626 !important;
}

.customButton.secondary {
  background: #54585c !important;
  color: white !important;
  border-color: #54585c !important;
}

.customButton:hover {
  color: #FFFFFF !important;
  background: #262626 !important;
  border-color: #262626 !important;
}

.formLabel {
  font-size: 20px;
  font-weight: bold;
}

.regLabel {
  padding-bottom: 10px;
}

.formText {
  font-size: 16px !important;
}