.user-container {
    padding: 20px;
    border: var(--border-f1);
    border-radius: 5px;
    background-color: var(--background-f1);
    margin-bottom: 20px;
  }

  .user-details {
    margin-bottom: 20px;
  }

  .user-actions {
    display: flex;
    gap: 10px;
  }

  .start-journey-button {
    background-color: var(--background-primary);
  }

  .favorites-button {
    background-color: var(--background-f2);
  }
