.countries-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  /* background-image: url("/images/check-list.png"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  min-height: 92vh;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-item {
  margin: 20px;
  padding: 60px;
  background-color: #6c6c6c;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: var(--box-shadow-f1);
  text-align: center;
}

.country-flag {
  width: 100px;
  height: auto;
  border: var(--border-gray);
  filter: grayscale(100%);
}

.country-flag.colorful {
  filter: none;
}

.countries-carousel {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.infoCustomButton{
  font-size: 18px !important; 
  font-weight: bold !important;
  padding: 10px 20px !important;
  margin-top: 45px;
}

.customButton {
  /* color: #262626;
  background: #FFFFFF;
  border-color: #262626; */
  font-size: 18px !important; 
  font-weight: bold !important;
  padding: 10px 20px !important;
}

.customButton.primary {
  color: #262626 !important;
  background: #FFFFFF !important;
  border-color: #262626 !important;
}

.customButton.secondary {
  background: #54585c !important;
  color: white !important;
  border-color: #54585c !important;
}

.customButton:hover {
  color: #FFFFFF !important;
  background: #262626 !important;
  border-color: #262626 !important;
}

/* .customButton.info:hover {
  color: #FFFFFF !important;
  background: #2213c3 !important;
  border-color: #2213c3 !important;
} */

