.countries-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/check-list.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-item {
  margin: 20px;
  padding: 20px;
  background-color: var(--background-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow-f1);
  text-align: center;
}

.country-flag {
  width: 100px;
  height: auto;
  border: var(--border-gray);
  filter: grayscale(100%);
}

.country-flag.colorful {
  filter: none;
}
