.countries-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  /* background-image: url("/images/check-list.png"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  min-height: 92vh;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-item {
  margin: 20px;
  padding: 60px;
  background-color: #6c6c6c;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: var(--box-shadow-f1);
  text-align: center;
}

.country-flag {
  width: 100px;
  height: auto;
  border: var(--border-gray);
  filter: grayscale(100%);
}

.country-flag.colorful {
  filter: none;
}

.countries-carousel {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}