.navbar {
    background-color: #161616 !important;
  }
  
  .brand {
    color: #FFF !important;
  }
  
  .userPoints {
    color: #bebebe !important;
  }
  
  .customButton {
    color: #bebebe !important;
    border-color: #bebebe !important;
  }
  
  .customButton:hover {
    color: #161616 !important;
    background-color: #bebebe !important;
    border-color: #161616 !important;
  }
  