.book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/images/note.png");
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .recipe-buttons-container {
    gap: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
